body{
    background-color: black;
}
.topnav{
    background-color: brown;
    height: 70px;
}
.topnav a{
    float: right;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
}
h1{
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    padding-top: 20px;
}
h6{
    color: brown;
    text-align: center; 
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #contact{
    background-color: #a5688b;
    padding: 35px 0 20px 0;
    width:100%;
  }
  .contact{
    display: inline-block;
    padding: 20px;
    margin: 0 auto;
  }
  .contact li {
    display: inline-block;
    list-style: none;
    float: left;
    }
  #contact p{
    font-size: 1.7em;
    font-weight: 700;
  }
  #contact li a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.3em;
    letter-spacing: 2px;
    }
  
  #contact li a:visited{
    color: white;
  }
  
  @media only screen and (max-width: 815px) {
      /* For mobile phones: */
  
}
li a:visited {
    color: white;
  }
  